# CUSTOMER CHURN DETECTION EDA

## 1. Load Dataset

In [1]:
import pandas as pd

In [2]:
churn_data = pd.read_csv("/Users/balavishnu/Desktop/Datascience/CustomerChurn_Prediction/data/Customer_Churn_dataset.csv")

In [3]:
churn_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
churn_data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [6]:
churn_data["Churn"].value_counts(normalize=True)*100

Churn
No     73.463013
Yes    26.536987
Name: proportion, dtype: float64

In [7]:
churn_data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [8]:
churn_data.shape

(7043, 21)

In [9]:
churn_data.dtypes
obj =churn_data.select_dtypes(include ="object").columns
obj

Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges',
       'Churn'],
      dtype='object')

## Feature Enginnering

In [10]:
# convert totla charges to numeric columns

churn_data["TotalCharges"] = pd.to_numeric(churn_data["TotalCharges"],errors="coerce")

In [11]:
churn_data["TotalCharges"].dtype

dtype('float64')

In [16]:
churn_data["TotalCharges"].isnull().sum()

11

In [17]:
# handle null values in Total charges

churn_data["TotalCharges"] = churn_data["TotalCharges"].fillna(churn_data["TotalCharges"].median())
churn_data["TotalCharges"].isnull().sum()

0

In [12]:
# Create new features

churn_data["AvgChargesPerMonth"] = churn_data["TotalCharges"]/ (churn_data["tenure"]+1)

In [ ]:
# separate target

y = churn_data["Churn"].map({"Yes" :1, "No" :0})
X = churn_data.drop("Churn",axis =1)

In [18]:
# one hot encode for categorical columns
cate_col = churn_data.select_dtypes(include="object").columns
churn_data= pd.get_dummies(churn_data,columns= cate_col,drop_first=True)

In [20]:
print("Final X shape :",X.shape)
print("Final Y shape :",y.shape)

Final X shape : (7043, 21)
Final Y shape : (7043,)

## 4. Train-Test Split and Scaling

## 5. Outlier checks (numeric columns)

In [ ]:
churn_data.select_dtypes(include=["int64","float64"]).columns

In [ ]:
churn_data.describe()

In [ ]:
# Boxplot (Monthly charges, Total charges)

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.boxplot(x=churn_data["Churn"], y= churn_data["MonthlyCharges"])
plt.title("MothlyCharges vs Churn")
plt.show()